.dashboard-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 186, 223, 0.712);
}

.dash-blogs-container{
    display: flex;
    justify-content: center;
    align-items: center;
}